{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Solutions<br />
    Rua Manuel Ferreira Costa, 420<br />
    <abbr title="Telefone">Tel:</abbr>
    958100403
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@solutionscorp.com">Suporte@solutionscorp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@solutionscorp.com">Marketing@solutionscorp.com</a>
</address>

{% endblock %}
